* {
  margin: 0;
  padding: 0;
  
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 175;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight:175;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  /* display: flex; */
  /* justify-content: flex-end; */

  padding: .5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.section > .title {
  position: -webkit-sticky;
  position: sticky;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

p {
  margin-bottom: 1em;
}

.home {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  text-indent: 0;
}

.tech-item {
  width: 30px;
  height: auto;
}

.intro-flex-group{
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
}

.intro-description {
  display: flex;
}